<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<main id="app">
   <h3> {{title}}</h3>
   <form @submit.prevent="addTodo">
       <label for="newTodo"> New Todo</label>
       <input v-model="newTodo" type="text" name="newTodo" id="newTodo">
       <button type="submit" name="button">Add</button>
       <button type="button" @click="allDone">All Done</button>
   </form>

    <ul>
        <li v-for="todo in todos">
            <span :class="{done : todo.done}">{{todo.title}}</span>
            <input type="checkbox" v-model="todo.done">
            <button @click="removeTodo(todo)" type="button">Remove</button>
        </li>
    </ul>

</main>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="app.js" charset="utf-8"></script>
</body>
</html>